#grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    grid-auto-rows: 1fr; /* This line ensures the rows are of equal height */
    gap: 5px;
  }
  
  
  .cell {
    width: 100px; /* This will make the cell width responsive to its parent grid cell */
    height: 100px; /* Same for height */
    border: 1px solid black;
    background: lightgray;
  }
  
  .highlighted {
    background: yellow;
  }
  
  .incorrect {
    background: red;
  }
  
  
  p,
  label {
      font: 1rem 'Fira Sans', sans-serif;
  }
  
  input {
      margin: 0.4rem;
  }
  